body{
    margin:0;
    padding: 0;
    color: white;
    background-size: cover;
    background: #f3904f;
    background: -webkit-linear-gradient(
            to bottom,
            #3b4371,
            #f3904f
    );
    background: linear-gradient(
            to bottom,
            #3b4371,
            #f3904f
    );
}